.projects-container {
  margin: 4rem auto 0 auto;
  max-width: 750px;
  text-align: center;
  color: #bdbdfc;
}

.projects-container h2 {
  color: #c25be4;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
